<!-- core/templates/core/conditions.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Conditions Générales d'Utilisation</h1>
    <p>En accédant à ce site web, vous acceptez les présentes conditions d'utilisation.</p>
    
    <h2>1. Réservations</h2>
    <p>Toutes les réservations sont soumises à disponibilité. Une réservation "En attente" n'est pas une garantie de place...</p>

    <h2>2. Annulations</h2>
    <p>Les réservations peuvent être annulées par nos services si elles ne sont pas confirmées dans les délais impartis...</p>
{% endblock %}