<!-- core/templates/core/politique.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Politique de Confidentialité</h1>
    <p>Dernière mise à jour : 27 juillet 2025</p>

    <h2>1. Collecte des informations</h2>
    <p>Nous collectons les informations que vous nous fournissez lors de votre inscription, telles que votre nom, prénom et adresse e-mail...</p>

    <h2>2. Utilisation des informations</h2>
    <p>Les informations que nous collectons sont utilisées pour gérer vos réservations, traiter vos commandes et améliorer nos services...</p>
    
{% endblock %}